*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
local.properties
keystore.properties
*.jks
*.keystore
.kotlin
.navigation
*.log
.DS_Store
app/release
*.orig
.vscode
.claude
